.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
}

.cart-item {
  display: flex;
  margin-bottom: 40px;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
}
img {
  width: 100px;
  border-radius: 10px;
}

.form {
  margin-bottom: 12px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.info {
  color: gray;
}

.link {
  color: #027ffe;
}

.empty-cart {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}
