.header {
  text-align: center;
  background: #33b5e5;
  color: #fff;
  height: 6rem;
  display: flex;
  flex-direction: column;
}

a {
  color: #ffffff;
  margin-right: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

h2 {
  color: #ffffff;
}
