<div class="detail-container">
  <div>
    <img [src]="product.url" />
  </div>
  <div class="detail-item">
    <h1>{{ product.name }}</h1>
    <h4 class="desc">{{ product.description }}</h4>

    <span>{{ product.price }}</span>
    <app-select-list (option)="onOptionChange($event)"></app-select-list>
    <app-button title="Add to cart" (onClick)="onAddClicked()"></app-button>
    <a class="back-link" (click)="back.emit()">
      <i class="fa-sharp fa-solid fa-arrow-left back-icon"></i>
      Back to product list
    </a>
  </div>
</div>
